! Xft settings

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:d90a1b2a, #0a1b2a, #0a1b2a
rofi.color-normal: #0a1b2a, #ddc9dd, #0a1b2a, #3c566c, #ddc9dd
rofi.color-active: #0a1b2a, #268bd2, #0a1b2a, #268bd2, #fdf6e3
rofi.color-urgent: #0a1b2a, #dc322f, #0a1b2a, #dc322f, #fdf6e3

! special
*.foreground:   #f8f2f4
*.background:   #151516
*.cursorColor:  #f8f2f4

! black
*.color0:       #1e1e23
*.color8:       #27272d

! red
*.color1:       #d798b5
*.color9:       #e3b4ca

! green
*.color2:       #00ff68
*.color10:      #67ffa5

! yellow
*.color3:       #eba364
*.color11:      #ebb98d

! blue
*.color4:       #38bdc3
*.color12:      #8be6ea

! magenta
*.color5:       #7b67aa
*.color13:      #9c86cf

! cyan
*.color6:       #75afa3
*.color14:      #a3cdc4

! white
*.color7:       #978c98
*.color15:      #dacbdb
